<ion-view view-title="Login">
	<header class="map-header">
		登录
	</header>

	<div class="login-wrap">
		<div class="login-row">
			<label for="">手机号:</label>
			<input type="text" ng-model="phone" placeholder="">
		</div>
		<div class="login-row">
			<label for="">密码:</label>
			<input type="password" ng-model="password" placeholder="">
		</div>
	</div>

	<div class="login-bt-wrap">
		<a class="login-page-btn" href="#/tab/dash">登录</a>
		<a class="login-page-forget" href="">忘记密码</a>

	</div>

		<a class="login-page-sign-btn" href="#/tab/dash">注册</a>

</ion-view>
