<ion-view view-title="Index">

	<div class="index-logo">
		Eater
	</div>

	<div class="sign-bottons">
		<a class="login-btn btn" href="#/tab/login">登录</a>
		<a class="sign-btn btn" href="">注册</a>
	</div>
</ion-view>
