<ion-view class="" view-title="蹭邻居的饭" hide-tabs>
<header class="map-header">
	蹭饭的邻居
</header>

<div class="postion-outer">
	
	<div class="postion-search-wrap">
		<input class="my-postion-input" type="text" ng-model="myPosition">
		<button class="my-postion-button" ng-click="setMyPostion()">搜索</button>
		<div id="results"></div>
	</div>
</div>



	<div class="map-wrap"> 
		<div id="allmap" baidu-map my-position="myPosition"></div>  
	</div>



</ion-view>
