/* Empty. Add your own CSS if you like */

body, html{
	width: 100%;
	height: 100%;
  	font-family: arial,sans-serif;
}
a{
	text-decoration: none;
}

.map-wrap{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
/*.map-wrap:before{
	display: inline-block;
	padding-top: 100%;
	content: " ";

}*/
#allmap {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
}
.anchorBL{
	display: none;!impoert
}
/*.BMap_noprint{
	display: none;!impoert
}
*/

.postion-outer{
	position: absolute;
	width: 100%;
	text-align: center;
	top:50px;
	z-index: 10;
}
.postion-search-wrap{

	width: 90%;
	font-size: 0px;
	margin: auto;
}
input[type='text'].my-postion-input{
	display: inline-block;
	vertical-align: middle;

	padding: 1% 0 1% 12%;
	margin: 1% 0;

	width: 100%;
	height: 40px;
	border-radius: 19px;
	border:1px #ccc solid;

	background-color: rgba(255,255,255,0.95);
}
.my-postion-button{

	width: 23%;
	line-height: 27px;
	vertical-align: middle;
}
.postion-search-wrap #results{
	position: absolute;
	width: 90%;
	padding: 5% 0 2%;
	border:1px #ccc solid;
	top: 47px;
	left: 50%;
	margin-left: -45%;
	z-index: 10;
	background-color: rgba(255,255,255,0.95);
	font-size: 13px;
	box-sizing:border-box;
	display: none;
	border-radius: 12px;
	text-align: left;
}
.result-item-title{
	font-size: 13px;
	
}
.result-item-address{
	font-size: 12px;
	color: #999;
	margin-left: 15px;
}

.result-itme-row{
	padding: 0 3%;

	box-sizing:border-box;

}
.result-itme-row:hover{
	background-color: #eee;
}

.map-header{
	width: 100%;
	height: 44px;
	background-color: #ffba00;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 44px;
}

.sign-bottons{
	position: fixed;
	width: 100%;
	bottom:0px;
	text-align: center;
}
.btn{
	display: inline-block;
	margin-bottom: 2%;
	width: 45%;
	height: 36px;
	text-align: center;
	line-height: 36px;
	text-decoration: none;

}
.login-btn{
	margin-right: 2%;
}
.sign-btn, .login-btn{
	border:1px solid #ccc;
	color: #333;
}

.index-logo{
	margin-top: 200px;
	margin-left: 80px;
	font-size: 30px;
}

.login-wrap{

	width: 70%;
	margin:150px auto 0px;
	border: 1px #ccc solid;
	border-radius:5px;
}
.login-row{
	width: 100%;
	padding: 3%;
	box-sizing:border-box;
}
.login-row label{
	display: inline-block;
	width: 20%;
}

.login-row:first-child{
	border-bottom: 1px solid #ccc;
}
.login-row input{
	margin-left: 10px;
	display: inline-block;
}
.login-bt-wrap{
	width: 70%;
	margin: auto;
}
.login-page-btn{
	width: 100%;
	background-color: #ffba00;
	color: #fff;
}
.login-page-forget{
	display: inline-block;
	margin: auto;
	width: 100%;
	margin-right: 3px;
	margin-top: 3px;
	color: #333;
	
	text-align: right;
}
.login-page-btn, .login-page-sign-btn{
	display: block;
	margin: 30px auto 0px;
		height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 5px;
}
.login-page-sign-btn{
	width: 35%;
	color: #666;
	border:1px #666 solid;
}
